<form action="/songs" method="POST">
  <label>Name:</label>
  <br></br>
  <input id="Name" type="text" name="song[name]" value="Name"></input>
  <br></br>
  <% @genres.each do |genre| %>
  <input type="checkbox" name="">
  <% end %>
</form>
